<div class="container-fluid footer-container">
   <div class="row">
      <div class="col-md-3">
         <div class="text-center">About</div>
         <ul>
            <li>Home</li>
            <li>Our Products</li>
         </ul>
      </div>
      <div class="col-md-3">
         <div class="text-center">Follow Us</div>
         <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
         </ul>
      </div>
      <div class="col-md-3">
         <div class="text-center">Contact us</div>
         <ul>
            <li>Globe / TM: (0955) 123 - 4567</li>
            <li>Sun: (0988) 123 - 4567</li>
            <li>Email: sample@smp.com</li>
         </ul>
      </div>
      <div class="col-md-3">
         <div class="text-center">FAQs</div>
         <ul>
            <li>Registration and Membership</li>
            <li>Contact us</li>
            <li>Member Page</li>
         </ul>
      </div>
   </div>
   <div class="row text-right">All rights reserved &copy; 2020 | Benedict Benida Website, Developed for Educational Purposes</div>
</div>


<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<% if (current == "signup") { %> <script src="/js/scriptSignup.js"></script> <% } %>
<% if (current == "products/new") { %> <script src="/js/productsNew.js"></script> <% } %>
</body>
</html>