<%- include("partials/header", {current: ""}) %>
   
   <div class="container img-container">
      <div class="row">
         <div class="col-md-6">
            <img src="images/special-2.png" id="me" alt="a special picture" class="img-fluid">
         </div>
         <div class="col-md-6 text-left">
            <h1>Greetings visitor!</h1> 
               <p> 
                  Welcome to <img src="images/LOGO-1.png" width="100em" alt="a special picture">. My name is Benedict Clyd Benida. I am a student in AMA Computer College studying Bachelor of Science in Information Technology. 
               </p>
               <p class="">
                  <h4>Something Interesting About Me</h4>
                  <ul>
                     <li>I am a first person shooter games enthusiast.</li>
                     <li>I am knowledgeable in Adobe Photoshop, HTML, CSS, and Javascript.</li>
                     <li>I am also an amateur musician, and my main instrument is the guitar.</li>
                  </ul>
               </p>
         </div>
      </div>
   </div>

   <!-- <div class="container greeting-container">
      <h1>Greetings visitor!</h1> 
      <p> 
         Welcome to <img src="images/LOGO-1.png" width="100em" alt="a special picture">. My name is Benedict Clyd Benida. I am a student in AMA Computer College studying Bachelor of Science in Information Technology. 
      </p>
      <p class="text-right">
         <h4>Something Interesting About Me</h4>
         <ul>
            <li>I am a first person shooter games enthusiast.</li>
            <li>I am knowledgeable in Adobe Photoshop, HTML, CSS, and Javascript.</li>
            <li>I am also an amateur musician, and my main instrument is the guitar.</li>
         </ul>
      </p>
   </div> -->

 <%- include("partials/footer", {current: ""}) %>